
<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
</head>
<body>
    <h2>Login Page</h2><br>
    <div>
    <form action="" method="post">


      <label >Email</label><br>
      <input name ="email" type="text" placeholder="write your email"><br><br>
      <label >Password</label><br>
      <input name="password" type="password" placeholder="write your password"><br><br>
      <input type="submit"  value="LOGIN"><br><br>
    </form>
    </div>
    <div>
        <form action="register.html">
            <label>Register Here</label>
            <input value="Register" type="submit">
        </form>
    </div>


</body>
</html>